$tamanio_fuente: 2em;
$font_family: gothic;
$border_radius: 5px;
$color_blanco: #ffffff;
$color_blanco_oscuro: #eeeeee;
$color_blanco_oscu2: #DCDCDC;
$color_gris: #5a5a5a;
$color_gris_oscuro: #212020;
$color_rojo: #fb0f01;
$color_naranja_claro: #ff7126;
$color_naranja_oscuro: #ff4000;
$color_negro: #000000;